@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/sliderImages/img1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>@*First slide label*@</h5>
                <p>@*Nulla vitae elit libero, a pharetra augue mollis interdum.*@</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/sliderImages/img2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>@*Second slide label*@</h5>
                <p>@*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*@</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/sliderImages/img3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>@*Third slide label*@</h5>
                <p>@*Praesent commodo cursus magna, vel scelerisque nisl consectetur.*@</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="m-5 text-center ">
    <h2 class="text-secondary">
        “<span class="text-success">Charity</span>
        extinguishes the sins like water extinguishes a
        <span class="text-warning">fire</span>”
    </h2>
    <p class="text-center">(Ibn Majah)</p>
</div>
<div class="row justify-content-md-center">
    <div class="bg-success col-md-3 p-4 text-center text-white">
        <i class="fas fa-mosque fa-4x m-4"></i>
        <h1 class="pt-3">Mosque</h1>
        <p class="mt-4">Your content goes here. Edit or remove this text inline or in the module Content settings.</p>
        <p class="rounded-pill btn btn-outline-light btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
    </div>
    <div class="bg-warning col-md-3 p-4 text-center text-black-50">
        <i class="fab fa-gratipay fa-4x m-4"></i>
        <h1 class="pt-3">Qurbani</h1>
        <p class="mt-4">Your content goes here. Edit or remove this text inline or in .</p>
        <p class="rounded-pill btn btn-outline-light btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
    </div>
    <div class="bg-success col-md-3 p-4 text-center text-white">
        <i src="" class="fas fa-tshirt fa-4x m-4"></i>
        <h1 class="pt-3">Sewing Machines</h1>
        <p class="mt-4">
            we share sewing machines to creating partnerships, strengthening community, and nurturing the creative spirit.
        </p>
        <p class="rounded-pill btn btn-outline-light btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
    </div>
    <div class="bg-warning col-md-3 p-4 text-center text-black-50">
        <i class="fas fa-hand-holding-water fa-4x m-4"></i>
        <h1 class="pt-3">Water Well</h1>
        <p class="mt-4">A hand pump for a family or a well or water station for a community can transform lives. Clean and safe water improves health;</p>
        <p class="rounded-pill btn btn-outline-light btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
    </div>


</div>

<h1 class="text-center m-4 ">Our Causes</h1>
<div class="row text-center justify-content-md-center">
    <div class="card  border border-success col-md-3" >
        <img src="~/images/cousesImage/ABLUTION.png" class="card-img-top border-bottom border-success" alt="Ablution">
        <div class="card-title">
            <h2>Ablution</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Ablution involves washing the hands, mouth, nostrils, arms, head and feet with water and is an important part of ritual purity in Islam.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/FOOD.png" class="card-img-top border-bottom border-success" alt="Food for All">
        <div class="card-title">
            <h2>Food for All</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate border-bottom border-success"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/Water-Well.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Water Well</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/ORPHANS.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Orphans</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/RAMADAN.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Ramadan</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/QURBANI.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Qurbani</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/ROHINGYA.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Rohingya</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
    <div class="card  border border-success col-md-3">
        <img src="~/images/cousesImage/MOSQUE.png" class="card-img-top border-bottom border-success" alt="Water Well">
        <div class="card-title">
            <h2>Mosque</h2>
        </div>

        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="rounded-pill btn btn-outline-success btn-lg mt-3">Donate <span><i class="fas fa-donate"></i></span></p>
        </div>
    </div>
</div>

