
@{
    ViewData["Title"] = "OurProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">

    <header class="text-center">
        <h2 class="font-weight-bold">Our Projects</h2>
        <p class="font-italic text-muted mb-0">We’re dedicated to serving the most vulnerable people across the world by addressing the root causes of poverty and empowering communities. From addressing short-term needs to tackling long term issues, Muslim Hands works to alleviate poverty through a range of varied and important areas.</p>
        
    </header>



    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    @*<img src="~/images/NewFolder/ablution.jpg" />*@
                    <img src="~/images/NewFolder/ablution.jpg" alt="Ablution">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Ablution</span></h3>
                        <p class="hover-3-description small text-uppercase mb-0"></p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="~/images/NewFolder/ablutionbench.jpg" alt="Ablution Bench">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Ablution </span>Bench</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    <img src="~/images/NewFolder/waterwelltiles.jpg" alt="Tiles Water Well">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Water Well </span>Tiles</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="~/images/NewFolder/normalwaterwell.jpg" alt="Normal Water Well">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Water Well </span></h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    <img src="~/images/NewFolder/waterWellMayanmar.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Water Well </span>Myanmar</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="~/images/NewFolder/shallowDeep.jpg" alt="Deep Water Well">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Shallow </span>Deep</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


