
@{
    ViewData["Title"] = "OurProjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <!-- For Demo Purpose -->
    <header class="text-center">
        <h1 class="display-4 font-weight-bold">Our Projects</h1>
        <p class="font-italic text-muted mb-0">We’re dedicated to serving the most vulnerable people across the world by addressing the root causes of poverty and empowering communities. From addressing short-term needs to tackling long term issues, Muslim Hands works to alleviate poverty through a range of varied and important areas.</p>
        
    </header>



    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786274/hoverSet-5_ifnajv.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786268/hoverSet-6_hkumk8.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786274/hoverSet-5_ifnajv.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786268/hoverSet-6_hkumk8.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="py-3">
        <div class="row">
            <!-- DEMO 3 Item-->
            <div class="col-lg-6 mb-3 mb-lg-0">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786274/hoverSet-5_ifnajv.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <!-- DEMO 3 Item    -->
            <div class="col-lg-6">
                <div class="hover hover-3 text-white rounded">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1570786268/hoverSet-6_hkumk8.jpg" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-3-content px-5 py-4">
                        <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span class="font-weight-light">Image </span>Caption</h3>
                        <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


