
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">You do not have permission to View this resouce</h2>
</div>

