
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div id="containerE">
    <div class="contentE">
        <div class="text-center">
            <h2 class="text-danger">!</h2>
            <h1 class="text-danger">Access Denied</h1>
            <h3 class="text-danger">You do not have permission to View this resouce</h3>
        </div>

    </div>
</div>*@

<div style="padding:50px;" class="text-center">
    <i style="padding:30px;" class="text-danger fas fa-ban fa-10x"></i>
    <h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">You do not have permission to View this resouce</h2>
</div>

