
@{
    ViewData["TitleHeader"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Password Reset Successfully</h3>
<a class="" asp-controller="Account" asp-action="Login">Login</a>

