<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom border-success box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Al Manahil Walfare Foundation</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OurProjects">Our Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted main-footer">
            <div class="container">
                <div class="float-left d-none d-sm-inline-block">
                    <strong>&copy; Al Manahil Walfare Foundation Bangladesh </strong>
                </div>

                <div class="float-right">
                    <strong> Developed by <a target="_blank" href="https://www.facebook.com/aziz97d" class="manahilfont">Abdul Aziz</a></strong>
                </div>

            </div>
        </footer>*@
    <footer class="bg-white">
        <div class="container py-1">
            <div class="row py-1">
                <div class="col-lg-4 col-md-6 mb-lg-0">
                    
                    <img src="~/images/images.png" alt="AMWFB Logo" width="130" class="">
                    <p class="text-muted">Al Manahil Welfare Foundation Bangladesh is a non-profit NGO helping charity organization. Our motive is to help the poor, helpless and orphan children in Bangladesh.Advanced settings.</p>
                    <ul class="list-inline mt-4">
                        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold ">About Us</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a asp-action="AboutUs" asp-controller="Home" class="text-muted">About Us</a></li>
                        <li class="mb-2"><a asp-action="OurProjects" asp-controller="Home" class="text-muted">Our Projects</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Stores</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold ">Appeals</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-muted">Mosque</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Waterwell</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Ablution</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Food For All</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Qurbani</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Orphans</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0">
                    <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><i class="fas fa-home mr-2"></i><p class="text-muted d-inline">#177 No Building, 1 No Road, Sugandha R/A 758 Chittagong, Chittagong Division</p></li>
                        <li class="mb-2"><i class="fas fa-phone-alt mr-2"></i><p class="text-muted d-inline">0088 01814 898 803, 0088 031 255 8070</p></li>
                        <li class="mb-2"><i class="fas fa-envelope mr-2"></i><p class="text-muted d-inline">amwfb@gmail.com</p></li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyrights -->
        <div class="bg-light py-3">
            <div class="container text-center">
                <p class="text-muted mb-0">© @DateTime.Now.Year Al Manahil Walfare Foundation Bangladesh.</p>
            </div>
            <div class="container text-center">
                <p class="text-muted mb-0">Developed by <a target="_blank" href="https://www.facebook.com/aziz97d" class="manahilfont">Abdul Aziz</a></p>
            </div>
        </div>
    </footer>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
