
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-inline-flex justify-content-center">
    <h2>@ViewBag.ErrorMessage</h2>

    <h1>404</h1>
    <h1>NotFound</h1>
</div>

