@model manahil.ViewModels.EditRoleViewModel
@{
    ViewData["TitleHeader"] = "Edit Role";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRole">

            <div>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" disabled class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-md btn-block" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-outline-info btn-md btn-block">Back</a>
            </div>
        </form>
    </div>
</div>
<div class="card col-md-4">
    <div class="card-header">
        <h3>User in this Role</h3>
    </div>
    <div class="card-body">
        @if (Model.Users.Any())
        {
            foreach (var user in Model.Users)
            {
                <div class="btn-block row m-1">
                    <label asp-for="@user" class="form-control">@user</label>
                </div>
            }
        }
        else
        {
            <h5 class="card-title">No user in the Role</h5>
        }

    </div>
    <div class="card-footer">
        <a  asp-action="EditUserInRole" asp-controller="Administration" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-md btn-block">Add Or Remove User In Role</a>
    </div>
</div>